modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist/public"
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34475
externalPort = 3001

[[ports]]
localPort = 34773
externalPort = 4200

[[ports]]
localPort = 36965
externalPort = 3000

[[ports]]
localPort = 44113
externalPort = 3003

[[ports]]
localPort = 44527
externalPort = 3002

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"
expertMode = true

[userenv]

[userenv.shared]
DATABASE_URL = "postgresql://neondb_owner:npg_2hbE5zHAaLnv@ep-quiet-moon-a4h7tdze.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET = "0Q7FwJ8ZOG6z5WT9JizE1myTxMf42FOria4LAI52qj/TDSYymlPc2qs/hux1ZxIkZzTmU3vVKPOjvvxSVjPtAQ=="
NEXT_PUBLIC_SITE_URL = "https://fishweb.iq"
RESEND_API_KEY = "re_Ym7tc4SR_C3rVKznKG36ydLDwnazQ3T3y"
R2_ACCOUNT_ID = "437b94b7c116f757f2a1f76afdccc81c"
R2_ACCESS_KEY_ID = "d799a34b275806aa2bd9b075ce150b54"
R2_SECRET_ACCESS_KEY = "4ee014b9f2bd1b8907dffadfdd07eb22eef23279d2f0a5fafa198c3807fce44d"
NEXT_PUBLIC_R2_PUBLIC_URL = "https://pub-a4b6f72ec4db47098ef8158544ad8451.r2.dev"
FROM_EMAIL = "orders@fishweb.iq"
SUPPORT_EMAIL = "support@fishweb.iq"
